*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.9); /* 👈 tem que ser transparente */
    backdrop-filter: blur(20px);          /* 👈 desfoque */
    height: 130px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  
}
.lupa{
    height: 60px;
    cursor: pointer;
}


header img{
    height: 100px;
   
    
   
}
header span{
    color: rgb(184, 103, 103);
    font-size: 30px;
     font-family: 'Poppins';
     transition: 0.5px;
     border-radius: 5px;
     cursor: pointer;
       caret-color: transparent;   /* remove a linha piscando */
  user-select: none;          /* não deixa selecionar o texto */
   


}

span:hover{
     background-color: rgb(92, 76, 76);
     box-shadow: 0px 0px 12px 4px ;

}



main{
  position: relative;
  display: flex;
  height: 80vh;
  align-items: center;
 justify-content: center;
 gap: 10px;
    background: rgba(0, 0, 0, 0.3)

  
}
.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

main h2{
  width: 50vh;
    font-size: 200px;
    display: flex;
    align-items: center;
    text-shadow: 5px 5px 10px rgb(12, 15, 15);
    cursor: pointer;
      caret-color: transparent;   /* remove a linha piscando */
  user-select: none;          /* não deixa selecionar o texto */
    color: rgb(97, 30, 30);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    

   
}



footer{
    display: flex;
    background-color: black;
    height: 123px;
}